*{
    margin:0;
    padding:0;
    width:1140px;
    box-sizing:border-box;
    margin: auto;
    box-shadow: 3px 4px 5px rgb(35, 24, 24);
   
}
header{
    background-image: url("../donate-today-main/images/donation2.jpg"),linear-gradient(rgba(0, 0, 0, 0.484),rgba(0, 0, 0, 0.587));
    background-blend-mode: darken;
      max-width:1140px;
      background-size: cover;
    height:95vh;
    background-repeat: no-repeat;
   

}